@use '@/style/variables.scss' as *;
@use  '@/style/mixins.scss';
.main-container{
    background-color:  #0f172a;
    display: flex;
    gap:$gap-md;
    overflow: auto;
    margin:$margin-sm;
    padding:$padding-sm;
    &__heading{
        color:var(--color-red);
    }
}
.heading2{
     font-size: $font-md;
        text-transform: capitalize;
        padding:$padding-sm;
        margin: $margin-lg;
       color:var(--color-white);

}

.container{
    border-radius: $border-radius-md; 
    @include mixins.center();   

    &__images{
        border-radius: $border-radius-md;
    }
     &__title{
        font-size:$font-md;
        color:var(--color-light-blue);
        
    }
    &__original{
        font-size: $font-md;
        color:var(--color-white);
    }
    &__delbtn{
        color:var(--color-black);
        font-size: $font-sm;
        padding:$padding-sm;
        margin:$margin-sm;
        background-color: var(--color-red);
        color:var(--color-black);
        border-radius: $border-radius-md;

        &:hover{
            color:var(--color-white);
            cursor: pointer;
          
        }
    }

}
.delete-modal {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.7);

  &__content {
    width: 400px;
    max-width: 90%;
    padding: 30px;

    background: #1f1f1f;
    border-radius: 12px;

    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  }

  &__title {
    margin-bottom: 12px;
    color: white;
    font-size: 24px;
  }

  &__text {
    margin-bottom: 25px;
    color: #b5b5b5;
    font-size: 15px;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  &__cancel,
  &__delete {
    padding: 10px 22px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
  }

  &__cancel {
    background: #555;
    color: white;

    &:hover {
      background: #666;
    }
  }

  &__delete {
    background: #dc3545;
    color: white;

    &:hover {
      background: #bb2d3b;
    }
  }
}
